body{
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    background-color: #141414;  
    color: lightgray;
}
header{
     background-image : url(../images/gifs-de-matrix-1.gif);
     padding: 30px;

}

.header{
    display: flex;
    
}
img{
    border-radius: 50%;
    
    
}