
    
    body{
        background: #141414;
        text-align: center;
        padding-top: 10px;
        font-family:  Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    

    }

    .perfis{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        border: 30px;
    }


    a{
        color: lightgray;
        text-decoration: none;
        font-style: bold;
        font-size: larger;
        
    }

   h3{
    color:  lightgray;
    font-family:  Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

   }

   .logo{
       width: 600px;
       padding: 10px;
   }

.perfil:hover img{
    border: 3px solid #fff;
    
}

.perfil:hover h3 {
    color: white;
}

img{
    border: 3px solid transparent;
    margin: 30px;
    border-radius: 10px;
}